.logIn {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logIn .card {
  width: 20%;
  min-width: 300px;
}

.logIn .card .footer {
  text-align: center;
}

.logIn .card .footer p {
  font-size: 12px;
  opacity: 70%;
}

:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #222222;
  --first-color-light: #ffc107;
  --white-color: #f7f6fb;
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header_toggle {
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.header_img {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header_img img {
  width: 40px;
}

.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: 0.5rem 1rem 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: var(--z-fixed);
  overflow: auto;
}

.nav {
  height: 100%;
  min-height: 655px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.nav_logo,
.nav_link {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}

.nav_logo {
  margin-bottom: 2rem;
}

.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav_logo-name {
  color: var(--white-color);
  font-weight: 700;
}

.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav_link:hover {
  color: var(--white-color);
}

.nav_icon {
  font-size: 1.25rem;
}

.showNav {
  left: 0;
}

.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}

.active {
  color: var(--white-color);
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

.height-100 {
  height: 100vh;
}

.tableData {
  max-height: 400px;
}

.tableData td img {
  width: 50px;
}

.no-result-div {
  display: none;
}

.no-result-div img {
  width: 200px;
}

.no-result-div p {
  opacity: 70%;
}

@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }
  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }
  .header_img {
    width: 40px;
    height: 40px;
  }
  .header_img img {
    width: 45px;
  }
  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  .showNav {
    width: calc(var(--nav-width) + 156px);
  }
  .body-pd {
    padding-left: calc(var(--nav-width) + 188px);
  }
}

@media screen and (min-width: 767px) {
  .height-100 .row .clock {
    text-align: right !important;
  }
}

.dashboard .intro-mark {
  padding: 0px 20px;
  border-radius: 20px;
  background-color: #222222;
  color: #f7f6fb;
}

.dashboard .intro-mark img {
  width: 100%;
}

.dashboard .intro-mark a {
  padding: 15px 25px;
  text-decoration: none;
  color: #f7f6fb;
  background-color: #ffc107;
  border-radius: 12px;
  font-size: 18px;
  display: inline-block;
  margin-top: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.dashboard .intro-mark a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #f7dc6f;
  color: #222222;
}

.dashboard .profits {
  background-color: #ffc107;
  border-radius: 20px;
  padding: 30px;
}

.dashboard .profits p {
  padding: 20px 30px;
  background-color: #f7dc6f;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
}

.dashboard .profits h1 {
  margin-top: 30px;
  font-size: 4vw;
  font-weight: bolder;
}

.dashboard .box-1 {
  max-width: 580px;
  height: 500px;
  background-color: #222222;
  border-radius: 20px;
  padding: 30px;
  color: #ffc107;
}

.dashboard .box-1 .box-1-inner {
  max-height: 370px;
  overflow: auto;
  color: #f7f6fb;
  margin-top: 20px;
}

.dashboard .box-1 .box-1-inner::-webkit-scrollbar {
  width: 5px;
}

.dashboard .box-1 .box-1-inner::-webkit-scrollbar-track {
  background: #222222;
  border-radius: 30px;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.dashboard .box-1 .box-1-inner::-webkit-scrollbar-thumb {
  background: #ffc107;
  border-radius: 30px;
}

.dashboard .box-1 .box-1-inner::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dashboard .box-1 .box-1-inner h4 {
  margin-left: 10px;
}

.dashboard .box-1 .box-1-inner h4 span {
  position: relative;
  top: 10px;
  right: 10px;
}

.dashboard .box-1 .box-1-inner p {
  margin-left: 62px;
  margin-top: -10px;
}

.dashboard .box-1 .box-1-inner .card_ {
  margin-top: 20px;
  padding: 20px;
  padding-bottom: 5px;
  border-radius: 20px;
  background-color: #555;
}

@media (max-width: 1199px) {
  .dashboard .box-1 {
    max-width: 94% !important;
  }
  .dashboard .box-2 {
    margin-top: 15px;
  }
}

@media (max-width: 991px) {
  .dashboard .profits h1 {
    font-size: 45px;
  }
  .dashboard .box-1 {
    max-width: 100% !important;
  }
}
/*# sourceMappingURL=styles.css.map */